---
layout: default
lang: "pt"
img: "https://res.cloudinary.com/jesstemporal/image/upload/v1671312046/logo_mh5fv4.png"

---
<div class="home">


    <div class="row pack">
        {% for post in paginator.posts %}
            <div class="col-md-4 card">
                <a href="{{ post.url | prepend: site.url }}" class="index-anchor">
                <div class="panel panel-default">
                  {% include images-logic.html %}
                  {% include post-card.html %}
                </div>
                </a>
            </div>

          {% endfor %}

    </div>

<div class="row">
    <div class="col-md-4">  </div>
    <div class="col-md-6">
        {% if paginator.total_pages > 1 %}
        <ul class="pagination">
          {% if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Anterior</a></li>
          {% else %}
            <li><span>&laquo; Anterior</span></li>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <li class="active"><span><em>{{ page }}</em></span></li>
            {% elsif page == 1 %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.url | replace: '//', '/' }}">{{ page }}</a></li>
            {% else %}
            <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Próxima &raquo;</a></li>
          {% else %}
            <li><span >Próxima &raquo;</span></li>
          {% endif %}
          </ul>
        {% endif %}

    </div>
    
    <div class="col-md-4">  </div>
</div>
</div>
