{% if page.book_page == true %} <!-- specific book pages from the collection will render this -->
  <div class="book">
    <div>
      <img src="{{ page.book_cover_ipad }}" alt="{{ page.book_cover_ipad_alt }}"/>
    </div>
    <div>
      <h3>{{ page.title }}</h3>
      <h4>{{ page.bookdescription }}</h4>
      {{ item.book_description }}
      <a href="{{ page.gumroad }}"><button class="buy">{{item.purchase_button}} Gumroad</button></a>
      <a href="{{ page.amazon }}"><button class="buy">{{item.purchase_button}} Amazon</button></a>
      <br><br>
    </div>
  </div>
{% else %} <!-- for listing books in listing pages -->
{% assign grouped = site.books | group_by: "book_language" %}
{% for group in grouped %}
  {% if group.name == page.lang %}
  {% for item in group.items %}
  <div class="book">
    <div>
      <a href="{{ item.permalink }}"><img src="{{ item.book_cover_ipad }}" alt="{{ item.book_cover_ipad_alt }}"/></a> 
    </div>
    <div>
      <h3><a href="{{ item.permalink }}" style="text-decoration: none;">{{ item.book_title }}</a></h3>
      <h4>{{ item.book_subtitle }}</h4>
      {{ item.book_description }}

      <a href="{{ item.gumroad }}"><button class="buy">{{item.purchase_button}} Gumroad</button></a>
      <a href="{{ item.amazon }}"><button class="buy">{{item.purchase_button}} Amazon</button></a>
      <a href="{{ item.permalink }}"><button class="buy">{{item.know_more_button}}</button></a>
      <br><br>
    </div>
  </div>
  {% endfor %}
  {% else %}
  {% endif %}
{% endfor %}
{% endif %}
