{% assign lang = page.lang == "en" or post.lang == "en" ? "en" : "pt" %}
{% if lang == "en" %}
  {% assign knw_btn = "Learn more" %}
  {% assign buy = "Buy on" %}
{% else %}
  {% assign knw_btn = "Saiba mais" %}
  {% assign buy = "Compre na" %}
{% endif %}
<hr>
<div class="book">
  <div>
    <a href="{{site.banner_books[lang].book.page}}"><img src="{{site.banner_books[lang].book.cover}}" alt="{{ site.banner_books[lang].book.title }}"/></a>
  </div>
  <div>
    <h3><a href="{{site.banner_books[lang].book.page}}" style="text-decoration: none;">{{site.banner_books[lang].book.title}}</a></h3>
    {% if page.layout == "post" %}
      <a href="{{site.banner_books[lang].book.page}}"><button class="buy">{{knw_btn}}</button></a>
    {% else %}
      <h4>{{site.banner_books[lang].book.subtitle}}</h4>
      <p>{{site.banner_books[lang].book.short_description}}</p>
    {% endif %}
      <br><a href="{{ site.banner_books[lang].book.gumroad }}"><button class="buy">{{buy}} Gumroad</button></a>
    <a href="{{ site.banner_books[lang].book.amazon }}"><button class="buy">{{ buy }} Amazon</button></a>
    <br><br>
  </div>
</div>
<hr>