<header class="site-header">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Language detection logic -->
    {% include language-detection.html %}
    
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      {% if current_lang == "en" %}
        <a class="navbar-brand" href="{{site.url}}{{site.baseurl}}/en/">{{site.title}}</a>
        {% assign options = "About,Books,Talks,CV,GitStudyCards" | split: ',' %}
        {% assign base = "/about,/books,/talks,/EnJtResume.pdf,https://gitfichas.com/en?utm_source=blog" | split: ',' %}
      {% else %}
        <a class="navbar-brand" href="{{site.url}}{{site.baseurl}}/">{{site.title}}</a>
        {% assign options = "Sobre,Livros,Palestras,CV,GitFichas" | split: ',' %}
        {% assign base = "/sobre,/livros,/talks,/EnJtResume.pdf,https://gitfichas.com/?utm_source=blog" | split : ',' %}
      {% endif %}
    </div>

    <!-- Language Switcher -->
    {% include language-switcher-compact.html %}

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% for item in options %}
          {% assign idx = forloop.index0 %}
          <li><a href="{{base[idx]}}">{{item}}</a></li>
        {% endfor %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
