{% if post.lang == "en_US" or page.lang  == "en_US" or page.lang  == "en" or post.tags contains "english" %}
  <h2>Recent Articles</h2>
{% else %}
  <h2>Artigos recentes</h2>
{% endif %}
{% for post in site.related_posts limit:3 %}
  <div class="col-sm-4 card-recent">
    <a href="{{ post.url | prepend: site.url }}" class="index-anchor">
    <div class="panel panel-default">
      {% include images-logic.html %}
      <div class="panel-body">
        <h3 class="panel-title pull-left">{{ post.title }}</h3><br><span class="post-meta pull-left"><small>{{ post.date | date: "%b %-d, %Y" }}</small></span>
      </div>

      <div class="panel-body">
        {% if post.description %}
          <small>{{ post.description }}</small>
       {% else %}
        <small>{{ post.excerpt | strip_html | strip_newlines | truncate: 70 }}</small>
       {% endif %}
      </div>
    </div>
    </a>
  </div>
{% endfor %}
