{% if post.lang == "en_US" or page.lang  == "en_US" or page.lang  == "en" or post.tags contains "english" %}
  <h2>Related Articles</h2>
{% else %}
  <h2>Artigos relacionados</h2>
{% endif %}
{% assign related_post_list = page.posts_list | join: ',' | split: ','  %}
{% for related_post in related_post_list %}
  {% assign related_post_url = related_post | prepend: "/" | append: "/" %}
  {% for post in site.posts %}
    {% if post.url == related_post_url %}
      {{ include end-of-post-articles-cards.html }}
    {% endif %}
  {% endfor %}
{% endfor %}