{% if post.lang == "en_US" or page.lang  == "en_US" or post.tags contains "english" %}
  <h2>Related Articles</h2>
{% else %}
  <h2>Artigos relacionados</h2>
{% endif %}
{% assign related_post_list = page.posts_list | join: ',' | split: ','  %}
{% for related_post in related_post_list %}
  {% assign related_post_url = related_post | prepend: "/" | append: "/" %}
  {% for post in site.posts %}
    {% if post.url == related_post_url %}
      <div class="col-sm-4 card-recent">
        <a href="{{ post.url | prepend: site.url }}" class="index-anchor">
          <div class="panel panel-default">
            {% include images-logic.html %}
            <div class="panel-body">
              <h3 class="panel-title pull-left">{{ post.title }}</h3>
              <br>
              <span class="post-meta pull-left">
                <small>{{ post.date | date: "%b %-d, %Y" }}</small>
              </span>
            </div>

            <div class="panel-body">
              {% if post.description %}
                <small>{{ post.description }}</small>
              {% else %}
                <small>{{ post.excerpt | strip_html | strip_newlines | truncate: 70 }}</small>
              {% endif %}
            </div>
          </div>
        </a>
      </div>
    {% endif %}
  {% endfor %}
{% endfor %}