<div class="col-md-4 mt20">
        <div class="post-img">
          {% if page.image %}
            {% if page.image contains "http" %}
              <img width="100%" src="{{page.image}}" alt="{{post.title}}">
            {% else %}
              {% if page.layout == "page" %}
                <img width="100%" style="border-radius: 3%;" src="{{site.baseurl}}{{site.url}}{{page.image}}" alt="{{page.title}}">
              {% else %}
                <img width="100%" src="{{site.baseurl}}{{site.url}}{{page.image}}" alt="{{page.title}}">
              {% endif %}
            {% endif %}
          {% else %}
            <img width="100%" src="{{site.baseurl}}{{site.url}}{{site.default-image}}" alt="{{page.title}}">
          {% endif %}
        </div>

        {% if page.author_note %}
        <div class="mt10 recent">
          {% if page.lang == "en" %}
          <h3>Author Note</h3>
          {% else %}
          <h3>Nota da autora</h3>
          {% endif %}
          <p><a href='{{ page.author_note_link }}'>{{ page.author_note }}</a></p>
        </div>
        {% endif %}

        {% if page.layout == "post" %}
          {% if page.related %}
            <div class="mt10 recent">
              {% if post.lang == "en" or page.lang  == "en" or post.tags contains "english" %}
                <h2>Related Articles</h2>
              {% else %}
                <h2>Artigos relacionados</h2>
              {% endif %}
                {% assign related_post_list = page.posts_list | join: ',' | split: ','  %}
                {% for related_post in related_post_list %}
                  {% assign related_post_url = related_post | prepend: "/" | append: "/" %}
                  {% for post in site.posts %}
                    {% if post.url == related_post_url %}
                    <li>
                      <p><a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a><small>&nbsp;&nbsp;{{ post.date | date_to_string }}</small></p>
                    </li>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
            </div>
          {% else %}
            <div class="mt10 recent">
              {% if post.lang == "en" or page.lang  == "en" or post.tags contains "english" %}
                <h2>Recent Articles</h2>
              {% else %}
                <h2>Artigos recentes</h2>
              {% endif %}
              <ul>
                  {% for post in site.related_posts limit:3 %}
                    <li>
                      <p><a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a><small>&nbsp;&nbsp;{{ post.date | date_to_string }}</small></p>
                    </li>
                  {% endfor %}
                </ul>
            </div>
          {% endif %}
        {% endif %}
        <br>
</div>
